/* Body*/
body{
    width: 98.75vw;

}

/* Header */
.jumbotron{
    padding: 1vh 0;
    margin: 0;
    width: 100vw;
    border-bottom: 0.5vw #8d5319 solid;
    background-color: #fffcf2;
    font-family: Times Times New Roman, serif;
}
header{
    height: 13vh;
}
/* Header Images: logo & title */
.jumbotron img{
    width: 50%;
    margin-bottom: 1%;
}
/* Logo */
.jumbotron div:first-child{
    text-align: center;
}
/* Page Title */
.jumbotron div:nth-of-type(2) {
    text-align: center;
    margin-top: 1%;
}
/* Header Links */
.jumbotron div:last-of-type{
    margin-top: 1%;
    font-size: 1.25em;
}
/* end Header */

/* Game Body */
.row{
    height: 42vw;
    background-image: url("images/book-bg.png");
    background-size: contain;
    font-family: Times New Roman, serif;
}

/* Game Stats */
#game-stats{
    width: 18vw;
    height: 20vw;
    margin: 15% 0;
    background-color: transparent;
}
#stats-book{
    width: 20vw;
    height: 21vw;
    margin-left: -1%;
    z-index: -1;
}
#game-stats div.panel-heading, #game-stats div.panel-body{
    position: relative;
    left: 30%;
    bottom: 105%;
    padding: 3% 2%;
}
.panel-heading h3{
    font-weight: bold;
    padding: 0;
}
#game-stats span{
    background-color: transparent;
    color: #000000;
    font-size: 1em;
    font-weight: 300;
    padding: 0;

}

/* Reset Button */
#btn-reset{
    color: #ffffff;
    background-color: #cf171f;
    margin-top: 6%;
    font-size: 1vw;
}
/* end Game Stats */

/* Card Field */
#game-area{
    margin-top: 3vh;
    font-size: 0;
    border: none;
    background-color: transparent;
}
/* Cards */
#game-area .card{
    height: 170px;
    width: 110px;
    border: 1px solid #000;
    display: inline-block;
    margin: 0.5vh 2%;
    position: relative;
    cursor: pointer;
}
.card .back, .card .front,
.card .back img, .card .front img {
    height: 100%;
    width: 100%;
    position: absolute;
}
/* Setting up card display */
.card .back{
    z-index: 9999;
    background-color: #2759af;
}
.card .front{
    background-color: #cf171f;
}
/* Class to be added with JS */
.card_flipped{
    visibility: hidden;
}
/* end Cards */

/* Ladder Movement*/
#ladder{
    float: right;
    width: 6vw;
    height: 42vw;
}

/* Winner screen */
.win {
    font-size: 5vw;
    font-weight: bold;
    font-family: Times New Roman, serif;
}
/* end Card Field */
