/* Clue Area */
.sideBar{
    width: 20%;
    height: 100%;
    float: left;
    background: rgba(226, 217, 209, 0.7);
    position: relative;
}
.sideBar>.subtitle{
    font-weight: bold;
}
.sideBar>hr{
    margin: 10px;
}
#clueArea{
    height: 85%;
    position: relative;
}
.clue{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
}
.clue.ninePlus{
    width: 50px;
    height: 50px;
}
.clueImage{
    width: 100%;
    height: 100%;
}
/* Shoe Prints */
.shoePrint{
    height: 4%;
    background: url("../images/clues/shoePrint.png") transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}
/* Clue Positions */

/* Out of 11 (18 card game) */
/* Left Clues */
#c1of11{
    left: 10%;
}
#c4of11{
    left: 10%;
    top: 24%;
}
#c7of11{
    left: 10%;
    top: 48%;
}
#c10of11{
    left: 10%;
    top: 72%;
}

/* Middle Clues */
#c3of11, #c6of11, #c9of11{
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#c3of11{
    left: 50%;
    top: 12%;
}
#c6of11{
    left: 50%;
    top: 36%;
}
#c9of11{
    left: 50%;
    top: 60%;
}

/* Right Clues */
#c2of11{
    right: 10%;
}
#c5of11{
    right: 10%;
    top: 24%;
}
#c8of11{
    right: 10%;
    top: 48%;
}
#c11of11{
    right: 10%;
    top: 72%;
}

/* Shoe Prints */
.eleven#shoe1to2, .eleven#shoe4to5, .eleven#shoe7to8, .eleven#shoe10to11{
    left: 20%;
    width: 50%;
}
.eleven#shoe2to3, .eleven#shoe3to4, .eleven#shoe5to6,
.eleven#shoe6to7, .eleven#shoe8to9, .eleven#shoe9to10{
    left: 22%;
    width: 30%;
    height: 2.5%;
    background-size: auto 100%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.eleven#shoe1to2{
    top: 5%;
}
.eleven#shoe2to3{
    top: 13%;
    left: 45%;
}
.eleven#shoe3to4{
    top: 23%;
}
.eleven#shoe4to5{
    top: 29%;
}
.eleven#shoe5to6{
    top: 37%;
    left: 45%;
}
.eleven#shoe6to7{
    top: 46%;
}
.eleven#shoe7to8{
    top: 53%;
}
.eleven#shoe8to9{
    top: 61%;
    left: 45%;
}
.eleven#shoe9to10{
    top: 70%;
}
.eleven#shoe10to11{
    top: 77%;
}

/* Out of 9 (18 card game) */
#c1of9{
    left: 10%;
}
#c3of9{
    left: 10%;
    top: 18%;
}
#c5of9{
    left: 10%;
    top: 36%;
}
#c7of9{
    left: 10%;
    top: 54%;
}
#c9of9{
    left: 10%;
    top: 72%;
}
/* Even Clues */
#c2of9{
    right: 10%;
    top: 9%;
}
#c4of9{
    right: 10%;
    top: 27%;
}
#c6of9{
    right: 10%;
    top: 45%;
}
#c8of9{
    right: 10%;
    top: 63%;
}
/* Shoe Prints */
/* Backslashes */
.nine#shoe1to2, .nine#shoe3to4, .nine#shoe5to6, .nine#shoe7to8{
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    width: 50%;
    left: 23%;
}
.nine#shoe1to2{
    top: 9%;
}
.nine#shoe3to4{
    top: 27%;
}
.nine#shoe5to6{
    top: 45%;
}
.nine#shoe7to8{
    top: 63%;
}
/* Forward Slashes */
.nine#shoe2to3, .nine#shoe4to5, .nine#shoe6to7, .nine#shoe8to9{
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    transform: rotate(160deg);
    width: 50%;
    left: 23%;
}
.nine#shoe2to3{
    top: 18%;
}
.nine#shoe4to5{
    top: 36%;
}
.nine#shoe6to7{
    top: 54%;
}
.nine#shoe8to9{
    top: 72%;
}

/* Out of 7 (14 card game) */
/* Odd Clues */
#c1of7{
    left: 10%;
    top: 2%;
}
#c3of7{
    left: 10%;
    top: 24%;
}
#c5of7{
    left: 10%;
    top: 48%;
}
#c7of7{
    left: 10%;
    top: 72%;
}
/* Even Clues */
#c2of7{
    right: 10%;
    top: 12%;
}
#c4of7{
    right: 10%;
    top: 36%;
}
#c6of7{
    right: 10%;
    top: 60%;
}
/* Shoe Prints */
/* Backslash */
.seven#shoe1to2, .seven#shoe3to4, .seven#shoe5to6{
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    width: 50%;
    left: 23%;
}
.seven#shoe1to2{
    top: 10%;
}
.seven#shoe3to4{
    top: 34%;
}
.seven#shoe5to6{
    top: 58%;
}
/* Forward Slash */
.seven#shoe2to3, .seven#shoe4to5, .seven#shoe6to7{
    -webkit-transform: rotate(155deg);
    -moz-transform: rotate(155deg);
    -ms-transform: rotate(155deg);
    -o-transform: rotate(155deg);
    transform: rotate(155deg);
    width: 50%;
    left: 23%;
}
.seven#shoe2to3{
    top: 22%;
}
.seven#shoe4to5{
    top: 46%;
}
.seven#shoe6to7{
    top: 70%;
}

/* Out of 5(10 card game) */
/* Odd Clues */
#c1of5{
    left: 10%;
    top: 5%;
}
#c3of5{
    left: 10%;
    top: 35%;
}
#c5of5{
    left: 10%;
    top: 65%;
}
/* Even Clues */
#c2of5{
    right: 10%;
    top: 20%;
}
#c4of5{
    right: 10%;
    top: 50%;
}
/* Shoe Prints */
/* Backslash */
.five#shoe1to2, .five#shoe3to4{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    width: 55%;
    left: 23%;
}
.five#shoe1to2{
    top: 17%;
}
.five#shoe3to4{
    top: 47%;
}
/* Forward Slash */
.five#shoe2to3, .five#shoe4to5{
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
    width: 55%;
    left: 23%;
}
.five#shoe2to3{
    top: 31%;
}
.five#shoe4to5{
    top: 61%;
}

/* Solution */
.solution{
    width: 90px;
    height: 90px;
    border: 1px solid transparent;
    border-radius: 100%;
    position: absolute;
    right: 8%;
    bottom: 2%;
    opacity: 0.3;
    -webkit-transition: opacity 400ms, transform 850ms;
    -moz-transition: opacity 400ms, transform 850ms ;
    -ms-transition: opacity 400ms, transform 850ms ;
    -o-transition: opacity 400ms, transform 850ms ;
    transition: opacity 400ms, transform 850ms ;
}

.solution.five{
    right: 15%;
    bottom: 5%;
}

.solution.eleven{
    width: 70px;
    height: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-20deg);
    -moz-transform: translateX(-50%) rotate(-20deg);
    -ms-transform: translateX(-50%) rotate(-20deg);
    -o-transform: translateX(-50%) rotate(-20deg);
    transform: translateX(-50%) rotate(-20deg);
}

.solved{
    opacity: 1;
    background: url("../images/clues/closedStamp.png");
    background-size: 150%;
    background-position: center;
}
.solved.five, .solved.seven, .solved.nine{
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}