/* Clue Area */
#clueArea{
    width: 20%;
    height: 100%;
    float: left;
    background: rgba(226, 217, 209, 0.7);
    position: relative;
}
#clueArea>.subtitle{
    font-weight: bold;
}
.clue{
    width: 60px;
    height: 60px;
    /*border: 2px solid;*/
    border-radius: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
}
.clue.ninePlus{
    width: 50px;
    height: 50px;
}
.clueImage{
    width: 100%;
    height: 100%;
}
/* Shoe Prints */
.shoePrint{
    height: 4%;
    background: url("../images/clues/shoePrint.png") transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}
/* Clue Positions */

/* Out of 11 (18 card game) */
/* Left Clues */
#c1of11{
    left: 10%;
}
#c4of11{
    left: 10%;
    top: 30%;
}
#c7of11{
    left: 10%;
    top: 50%;
}
#c10of11{
    left: 10%;
    top: 70%;
}

/* Middle Clues */
#c3of11{
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}
#c6of11{
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}
#c9of11{
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
}

/* Right Clues */
#c2of11{
    right: 10%;
}
#c5of11{
    right: 10%;
    top: 30%;
}
#c8of11{
    right: 10%;
    top: 50%;
}
#c11of11{
    right: 10%;
    top: 70%;
}

/* Shoe Prints */
.eleven.horizonLine{
    left: 20%;
    width: 50%;
}
.eleven.forwardSlash{
    left: 22%;
    width: 30%;
    height: 2.5%;
    background-size: auto 100%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.eleven#c1to2{
    top: 15%;
}
.eleven#c2to3{
    top: 22%;
    left: 45%;
}
.eleven#c3to4{
    top: 28%;
}
.eleven#c4to5{
    top: 33%;
}
.eleven#c5to6{
    top: 42%;
    left: 45%;
}
.eleven#c6to7{
    top: 48%;
}
.eleven#c7to8{
    top: 53%;
}
.eleven#c8to9{
    top: 63%;
    left: 45%;
}
.eleven#c9to10{
    top: 68%;
}
.eleven#c10to11{
    top: 73%;
}

/* Out of 9 (18 card game) */
#c1of9{
    left: 10%;
}
#c3of9{
    left: 10%;
    top: 26%;
}
#c5of9{
    left: 10%;
    top: 42%;
}
#c7of9{
    left: 10%;
    top: 58%;
}
#c9of9{
    left: 10%;
    top: 74%;
}

#c2of9{
    right: 10%;
    top: 18%;
}
#c4of9{
    right: 10%;
    top: 34%;
}
#c6of9{
    right: 10%;
    top: 50%;
}
#c8of9{
    right: 10%;
    top: 66%;
}
/* Shoe Prints */
/* Backslashes */
.nine.backSlash{
    transform: rotate(20deg);
    width: 50%;
    left: 23%;
}
.nine#c1to2{
    top: 17%;
}
.nine#c3to4{
    top: 32%;
}
.nine#c5to6{
    top: 49%;
}
.nine#c7to8{
    top: 64%;
}
/* Forward Slashes */
.nine.forwardSlash{
    transform: rotate(155deg);
    width: 50%;
    left: 23%;
}
.nine#c2to3{
    top: 25%;
}
.nine#c4to5{
    top: 42%;
}
.nine#c6to7{
    top: 57%;
}
.nine#c8to9{
    top: 73%;
}

/* Out of 7 (14 card game) */
/* Odd Clues */
#c1of7{
    left: 10%;
}
#c3of7{
    left: 10%;
    top: 30%;
}
#c5of7{
    left: 10%;
    top: 50%;
}
#c7of7{
    left: 10%;
    top: 70%;
}
/* Even Clues */
#c2of7{
    right: 10%;
    top: 20%;
}
#c4of7{
    right: 10%;
    top: 40%;
}
#c6of7{
    right: 10%;
    top: 60%;
}
/* Shoe Prints */
/* Backslash */
.seven.backSlash{
    transform: rotate(25deg);
    width: 50%;
    left: 23%;
}
.seven#c1to2{
    top: 17%;
}
.seven#c3to4{
    top: 37%;
}
.seven#c5to6{
    top: 57%;
}
/* Forward Slash */
.seven.forwardSlash{
    transform: rotate(148deg);
    width: 50%;
    left: 23%;
}
.seven#c2to3{
    top: 28%;
}
.seven#c4to5{
    top: 48%;
}
.seven#c6to7{
    top: 68%;
}

/* Out of 5(10 card game) */
/* Odd Clues */
#c1of5{
    left: 10%;
}
#c3of5{
    left: 10%;
    top: 40%;
}
#c5of5{
    left: 10%;
    top: 70%;
}
/* Even Clues */
#c2of5{
    right: 10%;
    top: 25%;
}
#c4of5{
    right: 10%;
    top: 55%;
}
/* Shoe Prints */
/* Backslash */
.five.backSlash{
    transform: rotate(40deg);
    width: 50%;
    left: 26%;
}
.five#c1to2{
    top: 21%;
}
.five#c3to4{
    top: 51%;
}
/* Forward Slash */
.five.forwardSlash{
    transform: rotate(134deg);
    width: 50%;
    left: 25%;
}
.five#c2to3{
    top: 36%;
}
.five#c4to5{
    top: 66%;
}

/* Solution Positions */
.solution{
    width: 70px;
    height: 70px;
    border: 1px solid #1a1a1a;
    border-radius: 100%;
    position: absolute;
    right: 5%;
    bottom: 6%;
}
.solved{
    background: url("../images/clues/closedStamp.png");
    background-size: 150%;
    background-position: center;
    border-color: transparent;
}
/* One part case (final case) */
.solution.eleven{
    left: 50%;
    transform: translateX(-50%);
}