/* Clue Area */
#clueArea{
    width: 20%;
    height: 100%;
    float: left;
    background: rgba(226, 217, 209, 0.7);
    position: relative;
}
#clueArea>.subtitle{
    font-weight: bold;
}
.clue{
    width: 60px;
    height: 60px;
    /*border: 2px solid;*/
    border-radius: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
}
.clue.ninePlus{
    width: 50px;
    height: 50px;
}
.clueImage{
    width: 100%;
    height: 100%;
}

/* Clue Positions */

/* Out of 11 (18 card game) */
/* Left Clues */
#c1of11{
    left: 10%;
    background: red;
}
#c4of11{
    left: 10%;
    top: 30%;
    background: blue;
}
#c7of11{
    left: 10%;
    top: 50%;
    background: whitesmoke;
}
#c10of11{
    left: 10%;
    top: 70%;
    background: indigo;
}

/* Middle Clues */
#c3of11{
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    background: green;
}
#c6of11{
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    background: brown;
}
#c9of11{
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    background: yellow;
}

/* Right Clues */
#c2of11{
    right: 10%;
    background: orange;
}
#c5of11{
    right: 10%;
    top: 30%;
    background: purple;
}
#c8of11{
    right: 10%;
    top: 50%;
    background: black;
}
#c11of11{
    right: 10%;
    top: 70%;
    background: indianred;
}


/* Out of 9 (18 card game) */
#c1of9{
    left: 10%;
    background: red;
}
#c3of9{
    left: 10%;
    top: 26%;
    background: green;
}
#c5of9{
    left: 10%;
    top: 42%;
    background: purple;
}
#c7of9{
    left: 10%;
    top: 58%;
    background: whitesmoke;
}
#c9of9{
    left: 10%;
    top: 74%;
    background: yellow;
}

#c2of9{
    right: 10%;
    top: 18%;
    background: orange;
}
#c4of9{
    right: 10%;
    top: 34%;
    background: blue;
}
#c6of9{
    right: 10%;
    top: 50%;
    background: brown;
}
#c8of9{
    right: 10%;
    top: 66%;
    background: black;
}

/* Out of 7 (14 card game) */
/* Odd Clues */
#c1of7{
    left: 10%;
}
#c3of7{
    left: 10%;
    top: 30%;
}
#c5of7{
    left: 10%;
    top: 50%;
}
#c7of7{
    left: 10%;
    top: 70%;
}
/* Even Clues */
#c2of7{
    right: 10%;
    top: 20%;
}
#c4of7{
    right: 10%;
    top: 40%;
}
#c6of7{
    right: 10%;
    top: 60%;
}

/* Out of 5(10 card game) */
/* Odd Clues */
#c1of5{
    left: 10%;
}
#c3of5{
    left: 10%;
    top: 40%;
}
#c5of5{
    left: 10%;
    top: 70%;
}
/* Even Clues */
#c2of5{
    right: 10%;
    top: 25%;
}
#c4of5{
    right: 10%;
    top: 55%;
}


/* Solution Positions */
.solution{
    bottom: 4%;
    border-radius: 0;
    overflow: visible;
}
.solution>p{
    margin: 0;
}
.solved{
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background: blue;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#s1{
    right: 5%;
}
#s2{
    left: 50%;
    transform: translateX(-50%);
}
#s3{
    left: 5%;
}