body{
    overflow: hidden;
    height: 100vh;
}

/* Navigation Bar */
.navigation{
    margin: 0 -15px;
    box-sizing: content-box;
}
.navigation>div:first-child{
    padding: 2%;
    padding-bottom: 0;
}
.navigation > div > div{
    display: inline-block;
}
#caseStats{
    width: 33%;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
}
#title{
    width: 33%;
    text-align: center;
    font-size: 0.25em;
}
.letterSquare{
    font-size: 2.5rem;
    display: inline-block;
    width: 1.25em;
    background: #ffffff;
    border: 1px solid #000000;
}
#caseFiles{
    width: 100%;
    margin-top: 1%;
}
#caseFiles .subtitle{
    font-size: 1.2em;
    color: #ffffff;
    margin-left: 2%;
    margin-right:1%;
}
.file{
    width: 14.75%;
    padding: 0.75em 5px;
    margin-right: -4px;
    font-size: 0.74em;
    font-family: "Courier New", "courier", monospace;
    white-space: nowrap;
    text-align: center;
    background: #ead295;
    border-right: 1px solid rgba(96, 64, 32, 0.2);
    border-radius: 5px 5px 0 0;
    box-shadow: 6px 0 25px -10px #604020 inset;
}

.subtitle{
    text-align: center;
}

/* Game Area */
.background{
    background: url("../images/sherlock.png") #ead295 no-repeat;
    background-size: 100%;
    background-position: left;
    height: 85.5%;
}
.background>div{
    display: inline-block;
}


