/* Header */
.jumbotron{
    padding: 1vh;
    margin: 0;
    background-color: #fffcf2;
    font-family: Times Times New Roman, serif;
}
header{
    height: 13vh;
}
/* Logo */
.jumbotron img{
    width: 50%;
    margin: 0;
    padding: 0;
}
.jumbotron div:first-child{
    text-align: center;
}
/* Page Title */
.jumbotron .col-md-8 {
    text-align: center;
}
.jumbotron h1{
    margin: 0;
    display: inline-block;
    font-family: Times New Roman, serif;
    font-weight: bold;
}
/* Header Links */
    .jumbotron div.col-md-2 a{
        margin-top: 5%;
    }
/* end Header */
/* Game Body */
.row{
    background-image: url("../images/heather/book-bg.png");
    font-family: Times New Roman, serif;
}
/* Game Stats */
#game-stats.panel, #game-stats div.panel-heading{
    background-color: #2759af;
    border: none;
    color: #ffffff;
    width: 15vw;
}
#game-stats{
    margin: 15% 0;
}
/* Reset Button */
#btn-reset{
    color: #ffffff;
    background-color: #cf171f;
    margin-top: 6%;
}
/* Card Field */
#game-area{
    margin-top: 1vh;
    font-size: 0px;
    border: none;
    background-color: transparent;
}
/* Cards */
#game-area .card{
    height: 170px;
    width: 110px;
    border: 1px solid #000;
    display: inline-block;
    margin: 0.5vh 2%;
    position: relative;
    cursor: pointer;
}
.card .back, .card .front,
.card .back img, .card .front img {
    height: 100%;
    width: 100%;
    position: absolute;
}
/* Setting up card display */
.card .back{
    z-index: 9999;
    background-color: #2759af;
}
.card .front{
    background-color: #cf171f;
}
/* Winner screen - !!! not in index.html, where is it? */
.win {
    height: 100px;
}